body {
  background-color:#fffbf7;
}

h1{
  color:#025157;
  text-align: center;
  font-family: 'Alegreya', serif;
  /*font-size: 85px;*/
  font-style: bold; /*extra*/
}

p{
  color:#8b8b8bcc;
  font-family: 'Assistant', sans-serif; /*estaba verdana, cambié para postwork*/
  font-size: 20px;
}

button{
  color: #fff;
  background-color: #025157;
  height: 40px;
  border-radius: 0 10% 10% 0;
}

.header{
  margin: 40px, 20px 0px;
  /*margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px;*/
  font-size: 0;
  font-family: sans-serif; /*esta se la habia puesto a nav y era a todos*/
}

.fixed-header{
  position:fixed;
  top:0;
  left:0;
  right:0;
background-color:  #fffbf7;
}

li{
  display: inline;
  margin: 0 25px 0; /*me faltaron los valores 0*/
}

.header > * {
  display: inline-block;
  font-size: 16px;
  line-height: 45px;
  height: 100%;
  vertical-align: middle;
}

input{  
  background-color: #ffffff;
  height: 35px;
  border-radius: 8% 0 0 8%;

}


.main > img {
  max-width:15%; /*es la imagen capterra*/   
}
 

.logo {
  width: 15%;
}

.logo > img { 
  width: 15%;
}

.navbar {
  width: 60%;
  text-align: center;
  font-weight: 500;
  /*font-size: 16px; /*yo le agregué esto*/
  font-weight: bold; /* extra*/
  /*height: 45px;/*!ya etsaba en header con line-height!!!*/
  color: #025157;  /*podía ir aquío o en li*/}

.actions {
  width: 15%;
  text-align: right;
  font-size: 14px;
  /*margin: 14px 12px;  mala total era padding pero en boton !!!*/
  font-weight: 600;
}

.actions > a { /*si*/
  color: #67b54b;/*si*/
  }

  .actions > *{
    margin: 0 10px; /*mal no la  puse*/
  }

.actions > button { /*si*/
  color: #fff; /*si*/
  background-color: #67b54b;/**/
  border: none; /*si*/
  padding: 12px 14px;/* me falto no entendi qué era el relleno*/
  border-radius: 5px; /*si*/
}
.main{
  margin-top: 140px;
  text-align: center;
}

.publicidad{
  margin-left: 30px;
}
.publicidad  h3 {
  font-family:'Alegreya', serif;
   color: #025157;
   /*font-size: 40px;
   line-height: 48px;
*/
  
 }
.publicidad > p {
color: #343434;
}


.promo{
  display: flex;
  width: 70%;
  align-items: center;
  margin:100px auto;
}

iframe {
  display: flex;
  margin:auto;
}
.explicacionvideo{
  display: flex;
  flex-direction: column;
  align-items: center;
}


.explicacionvideo  img {
  width: 120px;
  margin-top: 10px;
  
}

