body {
    background-color:#faf8f9;
}

h1{
    color:#46484c;
    text-align: center;
}

p{
    color:#8b8b8bcc;
    font-family: verdana;
    font-size: 20px;
}

button{
    color: #fff;
    background-color: #025157;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    width: 100px;
    height: 50px;
}

input{
    background-color: #ffffff;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    width: 200px;
    height: 45px;
    
}
img {
    max-width:15%;    
}
img{
    max-width: 25%;
}